NET "RLED"      LOC = "AB8" | IOSTANDARD = LVCMOS15;
NET "GLED"      LOC = "AA8" | IOSTANDARD = LVCMOS15;
NET "MISO_ext"  LOC = "R25" | IOSTANDARD = LVCMOS25;
NET "MOSI_ext"  LOC = "P24" | IOSTANDARD = LVCMOS25;
NET "IO2"       LOC = "R20" | IOSTANDARD = LVCMOS25;
NET "IO3"       LOC = "R21" | IOSTANDARD = LVCMOS25;
NET "CSB_ext"   LOC = "U19" | IOSTANDARD = LVCMOS25;
